<%= form_for [:admin, @pupil, @pupil_comment], as: :comment, html: { class: 'comment-form' }, url: admin_pupil_comments_path(@pupil.id), method: :post, builder: BootstrapFormBuilder do |f| %>
  <div class="form-row">
    <%= f.form_group :text, "#{current_user.username}", col: 12 do %>
      <%= f.text_area :text, autofocus: true, rows: 4 %>
    <% end %>
  </div>
  <div class="text-right">
    <%= f.submit 'Speichern', class: 'btn btn-info' %>
  </div>
<% end %>
<% @pupil.comments.order(created_at: :DESC).each do |comment| %>
  <%= form_for comment, url: admin_pupil_comment_path(@pupil.id, comment.id), html: { class: 'comment-form', data: { controller: 'comment' } }, as: :comment, method: :PUT, builder: BootstrapFormBuilder do |f| %>
    <div class="form-row">
      <%= f.form_group :text, "#{comment.try(:created_at).try(:strftime, '%d.%m.%Y')} von #{comment.user ? comment.user.username : 'Unbekannt'}", col: 12 do %>
        <%= f.text_area :text, readonly: true, data: { target: 'comment.text' }, rows: 4 %>
        <div class="comment-form__buttons text-right">
          <button class="btn btn-xs btn-link" data-action="comment#edit">
            <%= fa_icon 'edit' %>
          </button>
          <%= link_to admin_pupil_comment_delete_path(@pupil.id, comment.id), class: 'btn btn-xs btn-link' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
