<%= form_for [:admin, @commentable, @comment], as: :comment, html: { class: 'comment-form' }, url: [:admin, @commentable, :comments], method: :post, builder: BootstrapFormBuilder do |f| %>
  <div class="form-row">
    <%= f.form_group :text, "#{current_user.username}", col: 12 do %>
      <%= f.text_area :text, autofocus: true, rows: 4 %>
    <% end %>
  </div>
  <div class="text-right">
    <%= f.submit 'Speichern', class: 'btn btn-info' %>
  </div>
<% end %>
<% @commentable.comments.order(created_at: :DESC).each do |comment| %>
  <%= form_for comment, url: [:admin, @commentable, comment], html: {class: 'comment-form', data: {controller: 'comment'}}, as: :comment, method: :PUT, builder: BootstrapFormBuilder do |f| %>
    <div class="form-row">
      <%= f.form_group :text, "#{comment.try(:created_at).try(:strftime, '%d.%m.%Y')} von #{comment.user ? comment.user.username : 'Unbekannt'}", col: 12 do %>
        <%= f.text_area :text, readonly: true, data: {target: 'comment.text'}, rows: 4 %>
        <div class="comment-form__buttons text-right">
          <button class="btn btn-xs btn-link" data-action="comment#edit">
            <%= fa_icon 'edit' %>
          </button>
          <%= link_to url_for([:admin, @commentable, comment, :delete]), class: 'btn btn-xs btn-link' do %>
            <%= fa_icon 'trash' %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
<% if @commentable.comments.count === 0 %>
  <div class="alert alert-info">
    <div>Noch keine Notizen / Kommentare.</div>
  </div>
<% end %>

