<div class="mt-2">
  <%= form_for [:admin, @school_class_type], html: {class: "nifty_form", data: {controller: 'school-class-type'}}, builder: BootstrapFormBuilder do |f| %>
    <div class="form-content">

      <div class="form-row">
        <%= f.form_group :name, 'Name' do %>
          <%= f.text_field :name %>
        <% end %>
        <%= f.form_group :abbreviation, 'Abkürzung' do %>
          <%= f.text_field :abbreviation %>
        <% end %>
      </div>
      <div class="form-row">
        <%= f.form_group :duration, 'Ausbildungsdauer in Semestern' do %>
          <%= f.text_field :duration %>
        <% end %>
        <%= f.form_group :permanent, '-' do %>
          <div>
            <%= f.check_box :permanent, {data: {'target': 'school-class-type.permanent', action: 'school-class-type#checkAll'}} %>
            <%= f.label :permanent, 'Dauerbelegung', class: 'form-check-label' %>
          </div>
        <% end %>
      </div>
      <div data-target="school-class-type.allocations">

        <% if @school_class_type.school_classes.any? %>
          <% (1..2).each do |i| %>
            <fieldset class="mb-3">
              <legend class="small">Belegung <%= i %>. Hälfte</legend>
              <div>
                <table style="width: 100%;" class="table table-striped table-hover table-small">
                  <thead>
                  <tr>
                    <th>Klasse / KW</th>
                    <% (1..26).each do |k| %>
                      <th width="3%"><%= k + (i - 1) * 26 %></th>
                    <% end %>
                  </tr>
                  </thead>
                  <tbody>
                  <% @school_class_type.school_classes.includes(:semester).order("school_semesters.start_date DESC").each do |school_class| %>
                    <tr>
                      <td>
                        <%= school_class.short_name %>
                        <%= hidden_field "school_class_allocations", school_class.id, {multiple: true, value: ""} %>
                      </td>
                      <% (1..26).each do |k| %>
                        <% cw = k + (i - 1) * 26 %>
                        <th width="3%">
                          <%= check_box "school_class_allocations", school_class.id, {multiple: true, checked: school_class.allocated?(cw)}, cw, false %>
                        </th>
                      <% end %>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </fieldset>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="form-footer">
      <%= link_to "Abbrechen", @back_link, {class: 'btn btn-outline-info'} %>
      <%= f.submit "Speichern", {class: 'btn btn-success'} %>
    </div>
  <% end %>
</div>