<div>
  <div class="row">
    <div class="col-lg-6">
      <h2>
        <%= @school_class_type.persisted? ? @school_class_type.name : 'Neue Ausbildungsklasse' %>
      </h2>
    </div>
  </div>
  <%= render partial: 'form' %>
</div>
