<div>
  <div class="row">
    <div class="col-lg-6">
      <h2>
        Neues Schuljahr anlegen
      </h2>
    </div>
  </div>
  <div class="mt-2">
    <%= form_for @school_year, url: admin_school_years_path, html: {class: "nifty_form"}, builder: BootstrapFormBuilder do |f| %>
        <div class="form-content">
          <fieldset>
            <legend>1. Halbjahr</legend>
            <%= f.fields_for :winter_semester, @school_year.winter_semester do |sf| %>
                <div class="form-row">
                  <%= sf.form_group :start_date, 'Startdatum' do %>
                      <%= sf.date_field :start_date %>
                  <% end %>
                  <%= sf.form_group :stop_date, 'Enddatum' do %>
                      <%= sf.date_field :stop_date %>
                  <% end %>
                  <div class="col-lg-4">
                    <label class="text-muted">Info:</label>
                    <div class="small">
                      Bitte inklusive letzter Ferien bis zum Ende angeben
                    </div>
                  </div>
                </div>
            <% end %>
          </fieldset>
          <fieldset>
            <legend>
              2. Halbjahr
            </legend>
            <%= f.fields_for :summer_semester, @school_year.summer_semester do |sf| %>
                <div class="form-row">
                  <%= sf.form_group :start_date, 'Startdatum' do %>
                      <%= sf.date_field :start_date %>
                  <% end %>
                  <%= sf.form_group :stop_date, 'Enddatum' do %>
                      <%= sf.date_field :stop_date %>
                  <% end %>
                  <div class="col-lg-4">
                    <label class="text-muted">Info:</label>
                    <div class="small">
                      Bitte inklusive letzter Ferien bis zum Ende angeben
                    </div>
                  </div>
                </div>
            <% end %>
          </fieldset>

          <fieldset>
            <legend>Zu übernehmende Ausbildungsklassen</legend>
            <div>
              <table style="width: 100%;" class="table table-striped table-hover">
                <thead>
                <tr>
                  <% (1..4).each do |i| %>
                      <th>
                        <%= check_box_tag :all, "1", false, {data: {controller: 'check-all', "checkbox-group": "school_year[school_class_types][]"}} if i == 1 %>
                      </th>
                      <th>
                        Ausbildungsklasse
                      </th>
                  <% end %>
                </tr>
                </thead>
                <tbody>
                <% count = @school_class_types.count %>
                <% (0..((count / 4).floor)).each do |r| %>
                    <tr>
                      <% (0..3).each do |i| %>
                          <% index = r * 4 + i %>
                          <% if index < count %>
                              <% scp = @school_class_types[index] %>
                              <td>
                                <%= f.check_box :school_class_types, {multiple: true, checked: @school_year.school_class_types.include?("#{scp.id}")}, scp.id, false %>
                              </td>
                              <td>
                                <%= f.label "school_class_types_#{scp.id}", scp.abbreviation, class: 'form-check-label' %>
                              </td>
                          <% else %>
                              <td>

                              </td>
                              <td>

                              </td>
                          <% end %>
                      <% end %>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </fieldset>
        </div>
        <div class="form-footer">
          <%= link_to "Abbrechen", @back_link, {class: 'btn btn-outline-info'} %>
          <%= f.submit "Erstellen", {class: 'btn btn-success'} %>
        </div>
    <% end %>
  </div>
</div>

