<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 mt-5">
      <%= form_tag(admin_login_path) do %>
          <div class="form-content">
            <div class="form-group">
              <%= label_tag :username, 'Benutzername' %>
              <%= text_field_tag :username, '', class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= label_tag :password, 'Passwort' %>
              <%= password_field_tag :password, '', class: 'form-control' %>
            </div>
          </div>
          <div class="form-footer">
            <input type="submit" value="Anmelden" class="btn btn-success"/>
          </div>
      <% end %>
    </div>
  </div>
</div>