<div class="row pt-4">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Letzte Kommentare</h5>
        <div>
          <% @comments.each do |comment| %>
            <div class="mb-3">
              <% if comment.pupil %>
                <div>
                  <%= link_to admin_pupil_path(comment.pupil) + "#comments" do %>
                    <%= comment.pupil.firstname %>
                    <%= comment.pupil.lastname %>
                  <% end %>
                </div>
              <% end %>
              <blockquote class="blockquote">
                <p class="mb-0"><%= comment.text %></p>
                <footer class="blockquote-footer">
                  von <%= comment.user.username %> am <span><%= l(comment.created_at) %></span>
                </footer>
              </blockquote>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Neueste Anmeldungen</h5>
        <div>
          <table class="table">
            <tbody>
            <% @pupils.each do |pupil| %>
              <tr>
                <td class="pl-0">
                  <%= l(pupil.created_at, format: "%d.%m.%y %H:%M Uhr") %>
                </td>
                <td>
                  <%= link_to admin_pupil_path(pupil) + "#dorm" do %>
                    <%= pupil.firstname %>
                    <%= pupil.lastname %>
                  <% end %>
                </td>
                <td>
                  <%= info_icon true, {title: pupil.age < 18 ? 'Minderjährig' : 'Volljährig'} do %>
                    <strong><%= pupil.age < 18 ? "M" : "V" %></strong>
                  <% end %>
                </td>
                <td>
                  <%= pupil.school_class_info %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-4">
    <iframe src="<%= weekly_admin_charts_path %>" frameborder="0" width="100%"></iframe>
  </div>
</div>