<div class="list-page" data-controller="list-page">
  <div class="row pb-3 align-items-end pt-3 list-page__header" data-target="list-page.header">
    <%= yield :header %>
  </div>
  <div class="row list-page__content">
    <div style="position: relative; width: 100%;">
      <%= yield :content %>
    </div>
  </div>
  <div class="list-page__footer">
    <div class="container-fluid text-muted small">
      <span data-target="list-page.selectionInfo"></span> |
      <%= yield :footer %>
    </div>
  </div>
</div>