<div class="row">
  <div class="form-group col-md-4 col-sm">
    <label class="small">
      Straße</label>
    <div >
      <%= address.street %>
    </div>
  </div>
  <div class="form-group col-md-3 col-sm">
    <label class="small">PLZ</label>
    <div >
      <%= address.zipcode %>
    </div>
  </div>
  <div class="form-group col-md-4 col-sm">
    <label class="small">Stadt</label>
    <div ><%= address.city %></div>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-3 col-sm">
    <label class="small">Festnetz</label>
    <div ><%= address.home_nr %></div>
  </div>
  <div class="form-group col-md-4 col-sm">
    <label class="small">Mobil</label>
    <div ><%= address.mobile_nr %></div>
  </div>
  <div class="form-group col-md-5 col-sm">
    <label class="small">Fax / E-Mail</label>
    <div ><%= address.fax_nr %></div>
  </div>
</div>