<% read_only = false if local_assigns[:read_only].nil? %>
<% with_contact = false if local_assigns[:with_contact].nil? %>
<% include_phone_nr = true if local_assigns[:include_phone_nr].nil? %>
<% if with_contact %>
<div class="form-row">
  <%= f.form_group :contact, 'Rechnungsadresse', col: 6 do %>
      <%= read_only ? content_tag(:div, f.object.street) : f.text_area(:contact, rows: 3) %>
  <% end %>
</div>
<% end %>
<div class="form-row">
  <%= f.form_group :street, 'Straße', col: 6 do %>
      <%= read_only ? content_tag(:div, f.object.street) : f.text_field(:street) %>
  <% end %>
  <%= f.form_group :zipcode, 'PLZ', col: 2 do %>
      <%= read_only ? content_tag(:div, f.object.zipcode) : f.text_field(:zipcode) %>
  <% end %>
  <%= f.form_group :city, 'Stadt', col: 4 do %>
      <%= read_only ? content_tag(:div, f.object.city) : f.text_field(:city) %>
  <% end %>
</div>
<% if include_phone_nr %>
<div class="form-row">
  <%= f.form_group :home_nr, 'Festnetz', col: 3 do %>
      <%= read_only ? content_tag(:div, f.object.home_nr) : f.text_field(:home_nr) %>
  <% end %>
  <%= f.form_group :mobile_nr, 'Mobil', col: 3 do %>
      <%= read_only ? content_tag(:div, f.object.mobile_nr) : f.text_field(:mobile_nr) %>
  <% end %>
  <%= f.form_group :fax_nr, 'Fax / Email', col: 5 do %>
      <%= read_only ? content_tag(:div, f.object.fax_nr) : f.text_field(:fax_nr) %>
  <% end %>
</div>
<% end %>
