<% type = 'organisation' if local_assigns[:type].nil? %>
<% id_field = "#{type}_id".to_sym %>
<% create_field = "create_#{type}".to_sym %>
<% name = 'Organisation' if local_assigns[:name].nil? %>
<% organisations = [] if local_assigns[:organisations].nil? %>
<% new_field = "new_#{type}" %>

<fieldset>
  <legend><%= name %></legend>
  <div data-controller="organisation" data-type="<%= type.pluralize %>">
    <div class="form-row">
      <%= f.form_group id_field, false, col: 8 do %>
          <%= f.select id_field, [['Keine', nil]].concat(organisations.map {|org| [org.option_name, org.id]}), {}, {data: {action: 'organisation#loadInfo', target: 'organisation.select'}} %>
      <% end %>
      <%= f.form_group create_field, false, col: 4 do %>
          <div>
            <%= f.check_box create_field, {data: {target: 'organisation.createCheckbox', action: 'organisation#toggleCreate'}}, "1", "0" %>
            <%= f.label create_field, "Andere #{name}", class: 'form-check-label' %>
          </div>
      <% end %>
    </div>
    <div class="organisation-info" data-target="organisation.info"></div>
    <div class="organisation-create" data-target="organisation.createForm">
      <%= f.fields_for new_field, f.object.new_company do |org_f| %>
          <div class="form-row">
            <%= org_f.form_group :name, "Name der #{name}", col: 12 do %>
                <%= org_f.text_field :name %>
            <% end %>
          </div>
          <fieldset class="form-group">
            <legend>Adresse der <%= name %></legend>
            <%= org_f.fields_for :address, org_f.object.address || org_f.object.build_address do |f| %>
                <%= render partial: "partials/address_form", locals: {f: f} %>
            <% end %>
          </fieldset>
      <% end %>
    </div>
  </div>
</fieldset>