<div class="container">
  <div>
    <%= form_for(Pupil.new, url: '/registrations', builder: BootstrapFormBuilder) do |f| %>
        <div class="form-body">
          <h3 class="mb-3">Anmeldedaten abrufen</h3>
          <p>
            Hier kannst du dein Anmeldebogen abfragen und erneut herunterladen. Gib dazu folgende Daten an:
          </p>
          <div class="form-row">
            <%= f.form_group :firstname, 'Vorname', col: 4 do %>
                <%= f.text_field :firstname %>
            <% end %>
            <%= f.form_group :lastname, 'Nachname', col: 4 do %>
                <%= f.text_field :lastname %>
            <% end %>
            <%= f.form_group :passwd, 'Code', col: 4 do %>
                <%= f.text_field :passwd %>
            <% end %>
          </div>
        </div>
        <div class="form-footer">
          <input type="submit" value="Anzeigen" class="btn btn-primary"/>
        </div>
    <% end %>
  </div>
</div>
