<%= form_for @pupil, url: '/', builder: BootstrapFormBuilder do |f| %>
    <div class="form-body">
      <fieldset>
        <legend>Angaben zur Person</legend>
        <div class="form-row">
          <%= f.form_group :firstname, 'Vorname', col: 4 do %>
              <div class="input"><%= @pupil.firstname %></div>
          <% end %>
          <%= f.form_group :lastname, 'Nachname', col: 4 do %>
              <div class="input"><%= @pupil.lastname %></div>
          <% end %>
          <%= f.form_group :male, 'Geschlecht', col: 4 do %>
              <div class="input"><%= @pupil.male == '1' ? 'männlich' : 'weiblich' %></div>
          <% end %>
        </div>
        <div class="form-row">
          <%= f.form_group :birthdate, 'Geburtstag', col: 4 do %>
              <div class="input"><%= I18n.localize(@pupil.birthdate) %></div>
          <% end %>
          <%= f.form_group :birthplace, 'Geburtsort', col: 4 do %>
              <div class="input"><%= @pupil.birthplace %></div>
          <% end %>
        </div>
        <div class="form-row">
          <%= f.form_group :nationality, 'Nationalität', col: 4 do %>
              <div class="input"><%= I18n.t("nationality.#{@pupil.nationality}") %></div>
          <% end %>
          <%= f.form_group :county, 'Landkreis', col: 4 do %>
              <div class="input">
                <%= @pupil.county.name %> (<%= @pupil.county.state.name %>)
              </div>
          <% end %>
        </div>
      </fieldset>
      <fieldset>
        <legend>Adresse</legend>
        <%= f.fields_for :address do |address_f| %>
            <%= render partial: "partials/address_form", locals: {f: address_f, read_only: true} %>
        <% end %>
      </fieldset>
      <%= f.fields_for :parents do |parent_f| %>
          <fieldset>
            <legend>Gesetzlicher Vertreter</legend>
            <%= render partial: "admin/pupils/parent", locals: {parent_f: parent_f, read_only: true} %>
          </fieldset>
      <% end %>
      <fieldset>
        <legend>Internatsnutzung</legend>
        <div class="form-row">
          <%= f.form_group :arrival_day, 'Tag der Anreise', col: 3 do %>
              <div class="input"><%= I18n.localize(@pupil.arrival_day) %></div>
          <% end %>
          <%= f.form_group :permanent, 'Dauerbeleger', col: 2 do %>
              <div class="input"><%= @pupil.permanent ? 'JA' : 'NEIN' %></div>
          <% end %>
          <%= f.form_group :min_to_arrive, 'Dauer der Anreise', col: 3 do %>
              <div class="input"><%= @pupil.min_to_arrive %> Minuten</div>
          <% end %>
          <%= f.form_group :min_to_depart, 'Dauer der Abreise', col: 3 do %>
              <div class="input"><%= @pupil.min_to_depart %> Minuten</div>
          <% end %>
        </div>

      </fieldset>
    </div>
    <div class="form-footer">
      <%= link_to(pupil_download_path(@pupil), class: "btn btn-success") do %>
        <%= fa_icon('print') %>
        Ausdrucken
      <% end %>
    </div>
<% end %>
