<div>
  <div class="row">
    <div class="col-lg-6">
      <h2>
        <%= @school_class.persisted? ? @school_class.name : 'Neue Ausbildungsklasse' %>
      </h2>
    </div>
  </div>
  <%= form_for @school_class, url: @school_class.persisted? ? admin_school_class_type_class_path(@school_class.type, @school_class) : admin_school_class_type_classes_path(@school_class.type), html: {class: "nifty_form"}, builder: BootstrapFormBuilder do |f| %>
    <div class="form-content">

      <div class="form-row">
        <%= f.form_group :name, 'Name' do %>
          <%= f.text_field :name, {value: @school_class.name, disabled: true}  %>
        <% end %>
        <%= f.form_group :start_semester, 'Semester' do %>
          <%= f.select :start_semester, [['Auswählen', nil]].concat(@semesters.map {|sc| [sc.name, sc.id]}), {} %>
      <% end %>
      </div>
      <% (1..2).each do |i| %>
        <fieldset class="mb-3">
          <legend class="small">Belegung <%= i %>. Hälfte</legend>
          <div>
            <table style="width: 100%;" class="table table-striped table-hover table-small">
              <thead>
              <tr>
                <th>Klasse / KW</th>
                <% (1..26).each do |k| %>
                  <th width="3%"><%= k + (i - 1) * 26 %></th>
                <% end %>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><%= @school_class.abbreviation %></td>
                <% (1..26).each do |k| %>
                  <% cw = k + (i - 1) * 26 %>
                  <th width="3%">
                    <%= check_box "school_class", :allocation, {multiple: true, checked: @school_class.allocated?(cw)}, cw, false %>
                  </th>
                <% end %>
              </tr>
              </tbody>
            </table>
          </div>
        </fieldset>
      <% end %>
    </div>
    <div class="form-footer">
      <%= link_to "Abbrechen", @back_link, {class: 'btn btn-outline-info'} %>
      <%= f.submit "Speichern", {class: 'btn btn-success'} %>
    </div>
  <% end %>
</div>
