<%= form_for @invoice, as: :invoice, url: invoice_admin_dialogs_path, method: :post, builder: BootstrapFormBuilder do |f| %>
    <fieldset>
      <legend>Zeitraum</legend>
      <div class="form-row">
        <%= f.form_group :from, 'Von', col: 4 do %>
            <%= f.select :from, @time_options %>
        <% end %>
        <%= f.form_group :to, 'Bis', col: 4 do %>
            <%= f.select :to, @time_options %>
        <% end %>
        <%= f.form_group :nr, 'Rechnungsnummer', col: 4 do %>
            <%= f.text_field :nr %>
        <% end %>
        <% @invoice.pupil_ids.each do |id| %>
          <%= f.hidden_field :pupil_ids, value: id, multiple: true %>
        <% end %>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-row">
        <% if @addresses.any? %>
              <%= f.form_group :address_id, 'Rechnungsadresse', col: 12 do %>
                  <%= f.select :address_id, @addresses %>
              <% end %>
        <% end %>
      </div>
    </fieldset>
    <div class="text-right">
      <input type="submit" value="Rechnung erstellen" class="btn btn-success">
    </div>
<% end %>