/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
  */


$success: #8ad832;

@import "~bootstrap/scss/bootstrap";
@import "wizard";

html {
  font-size: 16px;
}

html.framed {
  nav.navbar {
    display: none;
  }

  #navSpacer {
    display: none;
  }
}

.navbar.bg-ivo {
  background: #285274 !important;
}

.info-icon.disabled {
  opacity: 0.3;
}

.info-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-xs {
  padding: 3px 6px;
  padding: 0.2rem 0.3rem;
  font-size: 14px;
  font-size: 0.775rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-success {
  color: white;
  &:hover {
    color: white;
  }
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.alert-alert, .alert-danger {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-info;
}

.register-heading {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #4a4a4a;
  font-weight: 300;
  padding-top: 2rem;
}

div .parent-form {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid whitesmoke;

  &:last-child {
    border-bottom: none;
  }

  &.deleted {
    display: none;
  }
}

.organisation-info {
  h3 {
    display: none;
  }
}

.tab-content {
  border: 1px solid $gray-300;
  border-top: none;
}

.form-footer {
  background: $gray-100;
  border: 1px solid $gray-300;
  border-top: none;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: right;

}

.form-content {
  padding: 1rem;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-top: 1px solid lightgrey;

  &.tab-content {
    border-top: none;
  }
}

form {
  legend {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  fieldset {
    margin-bottom: 1rem;
  }
}

.nifty_form {
  max-width: 1080px;
}

.table-small {
  td, th {
    padding: 3px;
  }
}

table thead tr {
  background: white;
}

table td:first-child,
table th:first-child {
  padding-left: 15px;
}

.pupil-avatar {
  height: 48px;
  display: inline-block;
  width: 50px;
  margin-top: 4px;
  margin-bottom: -15px;
  position: relative;

  > img {
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 2px;
    transition: all 500ms;
  }

  &:hover {
    > img {
      top: -50%;
      height: 200%;
      left: -30%;
      z-index: 4;
    }
  }
}

.registration {
  .form-body {
    padding: 1.5rem;
    background-color: rgb(242, 244, 244);
  }
  .form-footer {
    padding: 1.5rem;
    border: none;

  }
}

main h2 {
  margin-top: 1rem;
}

.success-circle {
  border: 5px solid whitesmoke;
  height: 4rem;
  display: inline-table;
  width: 4rem;
  padding: 0.8rem;
}

.list-page {
  padding-bottom: 2.5rem;

  &__header {
    background: white;
    z-index: 2;
  }

  &__footer {
    left: 0;
    right: 0;
    background: white;
    position: fixed;
    bottom: 0;
    height: 2.5rem;
    line-height: 2.5rem;
    border-top: 1px solid $gray-400;
  }
}


.comment-form {
  position: relative;

  &__buttons {
    position: absolute;
    top: 0;
    right: 0;
  }

}

.comments-pane {
  .form-footer {
    display: none;
  }
}
