<div class="mt-2">
  <%= form_for [:admin, @semester], html: {class: "nifty_form"}, builder: BootstrapFormBuilder do |f| %>
      <div class="form-content">

          <div class="form-row">
            <%= f.form_group :start_date, 'Startdatum' do %>
                <%= f.text_field :start_date %>
            <% end %>
            <%= f.form_group :stop_date, 'Enddatum' do %>
                <%= f.text_field :stop_date %>
            <% end %>
          </div>
      </div>
      <div class="form-footer">
        <%= link_to "Abbrechen", @back_link, {class: 'btn btn-outline-info'} %>
        <%= f.submit "Speichern", {class: 'btn btn-success'} %>
      </div>
  <% end %>
</div>