<%= content_for :header do %>
  <div class="col-12 col-md-4">
    <%= link_to(url_for(controller: :school_years, action: :new), {class: "btn btn-primary btn-sm"}) do %>
      <%= fa_icon :plus %>
      Neues Schuljahr
    <% end %>
    <button type="button" class="btn btn-danger btn-sm" data-controller="group-command" data-group-command="delete" data-command-confirm="Wollen Sie die ausgewählten Einträge wirklich löschen?">
      <%= fa_icon :trash %>
      Löschen
    </button>
  </div>
<% end %>
<% content_for :content do %>
  <%= form_tag({controller: controller_name, action: :command}, method: :post, id: 'groupForm') do %>
    <%= hidden_field :command, :name, {value: 'delete'} %>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>
          <%= check_box(:command, :all, {}, 'all') %>
        </th>
        <th scope="col">Name</th>
        <th>Start</th>
        <th>Ende</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @semesters.each do |semester| %>
        <tr>
          <td>
            <%= check_box(:command, :ids, {:multiple => true}, semester.id, false) %>
          </td>
          <td>
            <%= semester.name %>
          </td>
          <td>
            <%= semester.start_date %>
          </td>
          <td>
            <%= semester.stop_date %>
          </td>
          <td>
            <%= link_to(url_for([:admin, semester]), {class: 'btn btn-sm btn-primary', data: {toggle: 'tooltip'}, title: "Bearbeiten"}) do %>
              <%= fa_icon("edit") %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
<%= render 'list_page' %>
