<div>
  <div class="row">
    <div class="col-lg-6">
      <h2>
        <%= @semester.persisted? ? @semester.name : 'Neues Semester' %>
      </h2>
    </div>
  </div>
  <%= render partial: 'form' %>
</div>
