<div class="mt-2" data-controller="tab">
  <%= form_for [:admin, @organisation], html: {class: "nifty_form"}, builder: BootstrapFormBuilder do |f| %>
    <ul class="nav nav-tabs" data-target="tab.nav" id="pupilTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="general-tab" href="#general" role="tab" aria-controls="general" aria-selected="true">Persönliche
          Daten</a>
      </li>
      <% if @organisation.persisted? %>
        <li class="nav-item">
          <a class="nav-link" id="comments-tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">Notizen / Kommentare
            (<%= @organisation.comments_count %>)</a>
        </li>
      <% end %>
    </ul>
    <div class="tab-content p-3" data-target="tab.content">
      <div class="tab-pane fade" id="general-pane" role="tabpanel" aria-labelledby="general-tab">
        <div class="form-row">
          <%= f.form_group :name, 'Name' do %>
            <%= f.text_field :name %>
          <% end %>
        </div>
        <fieldset class="form-group">
          <legend>Adresse</legend>
          <%= f.fields_for :address, @organisation.address || @organisation.build_address do |f| %>
            <%= render partial: "partials/address_form", locals: {f: f, with_contact: true} %>
          <% end %>
        </fieldset>
      </div>
      <% if @organisation.persisted? %>
        <div class="tab-pane fade" id="comments-pane" role="tabpanel" aria-labelledby="comments-tab" style="margin-left: -15px; margin-right: -15px;">
          <iframe src="<%= url_for([:admin, @organisation, :comments]) %>" frameborder="0" width="100%" height="600px"></iframe>
        </div>
      <% end %>
    </div>
    <div class="form-footer">
      <%= link_to "Abbrechen", @back_link, {class: 'btn btn-outline-info'} %>
      <%= f.submit "Speichern", {class: 'btn btn-success'} %>
    </div>
  <% end %>
</div>