<% content_for :header do %>
    <div class="col-12 col-md-4">
      <%= link_to url_for(controller: controller_name, action: :new), class: 'btn btn-primary btn-sm' do %>
        <%= fa_icon :plus %>
        Neu
      <% end %>
      <button type="button" class="btn btn-danger btn-sm" data-controller="group-command" data-group-command="delete" data-command-confirm="Wollen Sie die ausgewählten Einträge wirklich löschen?">
        <%= fa_icon :trash %>
        Löschen
      </button>
    </div>
    <div class="col-12 col-md-8">
      <%= form_tag({controller: controller_name}, method: 'get', enforce_utf8: false) do %>
          <div class="form-row justify-content-end">
            <div class="col-12 col-md-3">
              <label for="search" class="small">Suche</label>
              <input id="search" name="search" type="text" class="form-control form-control-sm" value="<%= params[:search] %>"/>
            </div>
          </div>
      <% end %>
    </div>
<% end %>
<% content_for :content do %>
    <%= form_tag({controller: controller_name, action: :command}, method: :post, id: 'groupForm') do %>
        <%= hidden_field :command, :name, {value: 'delete'} %>
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>
              <%= check_box(:command, :all, {}, 'all') %>
            </th>
            <th scope="col">Name</th>
            <th>Adresse</th>
            <th>Telefonnr.</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @organisations.each do |organisation| %>
              <tr>
                <td>
                  <%= check_box(:command, :ids, {:multiple => true}, organisation.id, false) %>
                </td>
                <td>
                  <%= organisation.name %>
                </td>
                <td>
                  <%= ("#{organisation.address.city} #{organisation.address.zipcode}") if organisation.address %>
                </td>
                <td>
                  <%= organisation.address.home_nr if organisation.address %>

                </td>
                <td>
                  <%= link_to(url_for([:admin, organisation]), {class: 'btn btn-sm btn-primary', data: {toggle: 'tooltip'}, title: "Bearbeiten"}) do %>
                      <%= fa_icon("edit") %>
                  <% end %>
                  <% if organisation.is_a? Company %>
                      <%= link_to(url_for(admin_pupils_path({company: organisation.id})), {class: 'btn btn-sm btn-secondary', data: {toggle: 'tooltip'}, title: "Schüler anzeigen"}) do %>
                          <%= fa_icon("list") %>
                      <% end %>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>

<% end %>
<% content_for :footer do %>
    <%= @total %> insgesamt
<% end %>

<%= render 'list_page' %>

