<%
  time = Time.now
  current_year = Time.now.year
%>
<% oldest_bill = @pupil.bills.order(cw: :ASC).first %>
<% oldest_bill_time = oldest_bill ? Date.commercial(oldest_bill.year, oldest_bill.cweek).to_time : time %>
<% current_time = time - 30.weeks %>
<% current_time = current_time < oldest_bill_time ? current_time : oldest_bill_time %>
<% last_year = 0 %>
<% end_time = 32.weeks.from_now %>
<% index = 0 %>
<% begin %>
    <% current_year = current_time.year %>
    <% if current_year != last_year %>
        <% last_year = current_year %>
        <fieldset>
          <legend><%= current_year %></legend>
          <div class="row">
    <% end %>
    <div class="col-md-3">
      <div class="form-row mb-2">
        <label for="colFormLabelSm" class="col-4 col-form-label col-form-label-sm text-center">
          <%= current_time.strftime('%W') %>
        </label>
        <% cw = "#{current_year}-#{current_time.strftime('%W')}" %>
        <% bill = @pupil.bills.detect {|b| b.cw == cw} %>
        <div class="col-8">
          <input type="hidden" name="pupil[bills_attributes][<%= index %>][cw]" value="<%= cw %>">
          <input type="text" class="form-control form-control-sm" name="pupil[bills_attributes][<%= index %>][value]" value="<%= bill ? bill.value : "" %>">
        </div>
      </div>
    </div>
    <% current_time += 1.week %>
    <% index += 1 %>
    <% if current_time.year > current_year || current_time > end_time %>
        </div>
        </fieldset>
    <% end %>
<% end while current_time <= end_time %>
