<% deletable = true if local_assigns[:deletable].nil? %>
<% is_new = false if local_assigns[:is_new].nil? %>
<% read_only = false if local_assigns[:read_only].nil? %>
<% deletable = deletable && !read_only %>

<div data-controller="parent" class="parent-form" style="<%= is_new ? 'display: none;' : '' %>">
  <%= parent_f.hidden_field :id %>
  <div class="form-row">
    <%= parent_f.form_group :firstname, 'Vorname', col: 3 do %>
        <%= read_only ? content_tag(:div, parent_f.object.firstname) : parent_f.text_field(:firstname) %>
    <% end %>
    <%= parent_f.form_group :lastname, 'Nachname', col: 3 do %>
        <%= read_only ? content_tag(:div, parent_f.object.lastname) : parent_f.text_field(:lastname) %>
    <% end %>
    <%= parent_f.form_group :phone_nr, 'Telefon-Nr.', col: 3 do %>
      <%= read_only ? content_tag(:div, parent_f.object.phone_nr) : parent_f.text_field(:phone_nr) %>
    <% end %>
    <% unless read_only %>
        <div class="form-group col-3 text-right">
          <label>
            &nbsp;
          </label>
          <% if deletable %>
              <div class="btn-group-toggle">
                <label class="btn btn-outline-danger btn-sm active">
                  <%= parent_f.check_box :_destroy, {data: {target: 'parent.destroy'}}, "1", nil %>
                  <%= fa_icon :trash %>
                  Entfernen
                </label>
              </div>
          <% end %>
        </div>
    <% else %>
        <% if !parent_f.object.address %>
            <%= parent_f.form_group :address, 'Adresse', col: 4 do %>
                <div>Gleiche Adresse wie oben</div>
            <% end %>
        <% end %>
    <% end %>
  </div>
  <div class="mb-2">
    <% unless read_only %>
        <%= parent_f.address_fields :address, parent_f.object.address || Address.new do |f| %>
            <%= f.check_box :_destroy, {checked: !parent_f.object.address, data: {target: 'parent.addressCheckbox', action: 'parent#toggleAddress'}}, "1", "0" %>
            <%= f.label :_destroy, 'Gleiche Adresse wie Azubi', class: 'form-check-label small' %>
        <% end %>
    <% end %>
  </div>
  <% unless read_only && !parent_f.object.address %>
      <div data-target="parent.address">
        <%= parent_f.address_fields :address, parent_f.object.address || Address.new do |f| %>
            <%= render partial: "partials/address_form", locals: {f: f, read_only: read_only, include_phone_nr: parent_f.object.persisted?} %>
        <% end %>
      </div>
  <% end %>
</div>
