<h2>
  <%= @pupil.fullname %>
  <% if @pupil.created_at %>
      <small class="muted-text">
        angemeldet am <%= @pupil.created_at.strftime("%d.%m.%Y %H:%M") %>
      </small>
  <% end %>
</h2>
<div class="row mt-4">
  <div class="col-12 col-md-9" data-controller="tab">
    <%= form_for @pupil, url: {action: "checkin"}, html: {class: "nifty_form"}, builder: BootstrapFormBuilder do |f| %>

        <div class="form-footer">
          <%= f.button "Abbrechen", {type: 'reset', class: 'btn btn-info'} %>
          <%= f.submit "Speichern", {class: 'btn btn-success'} %>
        </div>

    <% end %>
  </div>
  <div class="col-12 col-md-3">

  </div>
</div>
