<% content_for :header do %>
  <div class="col-12">
    <%= link_to new_admin_pupil_path, class: 'btn btn-primary btn-sm' do %>
      <%= fa_icon :plus %>
      Neu
    <% end %>
    <button type="button" class="btn btn-danger btn-sm" data-controller="group-command" data-group-command="delete" data-command-confirm="Wollen Sie die ausgewählten Schüler wirklich löschen?">
      <%= fa_icon :trash %>
      Löschen
    </button>
    <% if current_user.is_admin? %>
      <button type="button" class="btn btn-success btn-sm" data-controller="invoice-dialog">
        <%= fa_icon :receipt %>
        Rechnung erstellen
      </button>
    <% end %>
    <% if current_user.is_admin? || current_user.can_export %>
      <button type="button" class="btn btn-info btn-sm" data-controller="group-command" data-group-command="export">
        <%= fa_icon "file-excel" %>
        Exportieren
      </button>
    <% end %>
  </div>
  <div class="col-12 col-md-8">
  </div>
<% end %>
<% content_for :content do %>
  <%= form_tag({controller: :pupils, action: :command}, method: :post, id: 'groupForm') do %>
    <%= hidden_field :command, :name, {value: 'delete'} %>

    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>
          <%= check_box(:command, :all, {}, 'all') %>
        </th>
        <th></th>
        <th scope="col">Name</th>
        <th>Information</th>
        <th class="text-center">Klasse</th>
        <th>Unterkl.</th>
        <th>Kaution</th>
        <th class="text-center">Zimmer</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @pupils.each do |pupil| %>
        <tr>
          <td>
            <%= check_box(:command, :ids, {:multiple => true}, pupil.id, false) %>
          </td>
          <td style="padding: 0; text-align: center;">
            <% if pupil.photo.exists? %>
                    <span class="pupil-avatar">
                      <%= image_tag pupil.photo.url(:thumb), height: "100%" %>
                    </span>
            <% end %>
          </td>
          <td>
            <%= pupil.lastname %>, <%= pupil.firstname %>
          </td>
          <td class="info-column">
            <%= info_icon true, {title: pupil.age < 18 ? 'Minderjährig' : 'Volljährig'} do %>
              <strong><%= pupil.age < 18 ? "M" : "V" %></strong>
            <% end %>
            <%= info_icon true, {title: pupil.male ? 'Männlich' : 'Weiblich'} do %>
              <%= pupil.male ? fa_icon("mars") : fa_icon("venus") %>
            <% end %>
            <%= info_icon pupil.wifi do %>
              <%= link_to admin_pupil_path(pupil) + "#dorm" do %>
                <%= fa_icon :wifi %>
              <% end %>
            <% end %>
            <%= info_icon pupil.car do %>
              <%= link_to admin_pupil_path(pupil) + "#dorm" do %>
                <%= fa_icon :car %>
              <% end %>
            <% end %>
            <%= info_icon pupil.rent_on_account, title: 'Miete auf Rechnung' do %>
              <strong>M</strong>
            <% end %>
            <%= info_icon pupil.food_on_account, title: pupil.food_on_account == 1 ? 'Halbpension' : pupil.food_on_account == 2 ? 'Vollpension' : false do %>
              <%= pupil.food_on_account == 1 ? 'HP' : pupil.food_on_account == 2 ? 'VP' : '–' %>
            <% end %>
            <%= info_icon pupil.splitted_custody > 0, title: 'Getrenntes Sorgerecht' do %>
              <strong>GS</strong>
            <% end %>
            <%= info_icon pupil.comments_count > 0, {} do %>
              <%= link_to admin_pupil_path(pupil) + "#comments", class: 'badge badge-info', data: {toggle: 'tooltip'}, title: "Kommentare" do %>
                <%= pupil.comments_count %>
              <% end %>
            <% end %>

          </td>
          <td class="text-center">
            <%= pupil.school_class_info %>
          </td>
          <td>
            <input type="text" value="<%= pupil.subclass %>" style="max-width: 80px; text-align: center; display: inline-block;" name="subclass" data-controller="pupil-edit" data-pupil-id="<%= pupil.id %>" class="form-control form-control-sm"/>
          </td>
          <td>
            <span data-toggle="tooltip" title="<%= "Eingezahlt: #{l pupil.deposit_paid_in}" if pupil.deposit_paid_in  %>"><%= pupil.deposit_info %></span>
            <% if pupil.deposit_paid_out %>
            <span data-toggle="tooltip" title="Ausgezahlt: <%= l pupil.deposit_paid_out %>">
              <%= fa_icon("check") %>
            </span>
            <% end %>
          </td>
          <td class="text-center">
            <input type="text" value="<%= pupil.room %>" style="max-width: 80px; text-align: center; display: inline-block;" name="room" data-controller="pupil-edit" data-pupil-id="<%= pupil.id %>" class="form-control form-control-sm"/>
          </td>
          <td>
            <%= link_to(admin_pupil_path(pupil) + '#personal', {class: 'btn btn-sm btn-primary', data: {toggle: 'tooltip'}, title: "Bearbeiten"}) do %>
              <%= fa_icon("edit") %>
            <% end %>
            <%= link_to(admin_pupil_path(pupil) + "#dorm", {class: 'btn btn-sm btn-outline-secondary', data: {toggle: 'tooltip'}, title: "An-/Abmeldung"}) do %>
              <%= fa_icon("sign-in-alt") %>
            <% end %>
            <%= link_to(pupil_download_path(pupil), {class: 'btn btn-sm btn-outline-info'}) do %>
              <%= fa_icon :print %>
            <% end %>
            <!--Anmelden-->
            <!--Abmelden-->
            <!--Kommentieren-->
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
<%= content_for :footer do %>
  <%= @pupils.count %> insgesamt,
  <%= @pupils.where(male: false).count %> weiblich,
  <%= @pupils.where(male: true).count %> männlich
<% end %>
<div class="row">
  <div class="col-10">
    <%= render 'list_page' %>
  </div>
  <div class="col-2 bg-light position-fixed" style="right: 0;
      bottom: 0;
      top: 55px;
      padding-top: 20px;
      border-left: 1px solid lavender;">
    <%= form_tag({controller: :pupils}, method: 'get', enforce_utf8: false) do %>
      <div>
        <div class="form-group">
          <label for="search" class="small">Suche</label>
          <input id="search" name="search" type="text" value="<%= params[:search] %>" class="form-control form-control-sm"/>
        </div>
        <div class="form-group">
          <label for="semester" class="small">Semester</label>
          <select id="semester" name="semester" onchange="this.form.submit();" class="custom-select custom-select-sm">
            <%= options_for_select([['Alle Semester', ""]].concat(@semesters.map { |sem| [sem.name, sem.id] }), @semester ? @semester.id : 0) %>
          </select>
        </div>
        <div class="form-group">
          <label for="calendarweek" class="small">Kalenderwoche</label>
          <select id="calendarweek" name="cw" onchange="this.form.submit();" class="custom-select custom-select-sm">
            <%= options_for_select([['Alle Kalenderwochen', ""]].concat(calendar_weeks.map { |cw| ["KW #{cw} #{cw == current_cw ? ' - aktuell' : ''}", cw] }), params[:cw] || 0) %>
          </select>
        </div>
        <div class="form-group">
          <label for="status" class="small">Status</label>
          <select id="status" name="status" onchange="this.form.submit();" class="custom-select custom-select-sm">
            <%= options_for_select([['Alle', ""]].concat([["Angemeldet", :checked_in], ["Abgemeldet", :checked_out]]), params[:status] || "") %>
          </select>
        </div>
        <div class="form-group">
          <label for="deposit" class="small">Kaution</label>
          <select id="deposit" name="deposit" onchange="this.form.submit();" class="custom-select custom-select-sm">
            <%= options_for_select(@deposit_options, params[:deposit] || :all) %>
          </select>
        </div>
        <div class="form-group">
          <label for="company" class="small">Firma</label>
          <select id="company" name="company" onchange="this.form.submit();" class="custom-select custom-select-sm">
            <%= options_for_select([['Alle Firmen', ""]].concat(@companies.map { |com| [com.name, com.id] }), params[:company] || 0) %>
          </select>
        </div>
        <div class="form-group">
          <label for="school_class_type" class="small">Ausbildungsrichtung</label>
          <%= select_tag :school_class_type,
                         options_for_select([['Alle', ""]].concat(SchoolClassType.where("name > ''").order(name: :ASC).all.map {|sc|["#{sc.name} (#{sc.abbreviation.strip})", sc.id]}), params[:school_class_type]),
                         {class: "custom-select custom-select-sm", onchange: "this.form.submit();" }  %>
        </div>
        <div class="form-group">
          <label for="school_class_type" class="small">Landkreis</label>
          <%= select_tag :county,
                         options_for_select([['Alle', ""]].concat(County.where("name > ''").order(name: :ASC).all.map { |c| ["#{c.name}", c.id] }), params[:county]),
                         {class: "custom-select custom-select-sm", onchange: "this.form.submit();"} %>
        </div>
      </div>
    <% end %>
  </div>
</div>


