<h2>
  <%= @pupil.persisted? ? @pupil.fullname : 'Neuer Schüler' %>
  <% if @pupil.created_at %>
    <small class="muted-text">
      angemeldet am <%= @pupil.created_at.strftime("%d.%m.%Y %H:%M") %>
    </small>
  <% end %>
</h2>
<div class="row mt-4">
  <div class="col-12 col-md-9" data-controller="tab">
    <%= form_for [:admin, @pupil], namespace: 'admin', html: { class: "nifty_form" }, builder: BootstrapFormBuilder do |f| %>
      <ul class="nav nav-tabs" data-target="tab.nav" id="pupilTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="personal-tab" href="#personal" role="tab" aria-controls="personal" aria-selected="true">Persönliche
            Daten</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="dorm-tab" href="#dorm" role="tab" aria-controls="dorm" aria-selected="false">Internatsnutzung</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="company-tab" href="#company" role="tab" aria-controls="company" aria-selected="false">Ausbildung</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="billing-tab" href="#billing" role="tab" aria-controls="billing" aria-selected="false">Miete
            auf Rechnung</a>
        </li>
        <% if @pupil.persisted? %>
          <li class="nav-item">
            <a class="nav-link" id="comments-tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">Kommentare
              (<%= @pupil.comments_count %>)</a>
          </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link" id="vaccination-tab" href="#vaccination" role="tab" aria-controls="dorm" aria-selected="false">Impfungen</a>
        </li>
      </ul>
      <div class="tab-content p-3" data-target="tab.content">
        <div class="tab-pane fade" id="personal-pane" role="tabpanel" aria-labelledby="personal-tab">
          <div class="form-row">
            <%= f.form_group :firstname, 'Vorname' do %>
              <%= f.text_field :firstname %>
            <% end %>
            <%= f.form_group :lastname, 'Lastname' do %>
              <%= f.text_field :lastname %>
            <% end %>

            <%= f.form_group :male, 'Geschlecht' do %>
              <div>
                <div class="form-check form-check-inline">
                  <%= f.radio_button "male", false, class: 'form-check-input' %>
                  <%= f.label :male_false, 'Weiblich', class: 'form-check-label small' %>
                </div>
                <div class="form-check form-check-inline">
                  <%= f.radio_button "male", true, class: 'form-check-input' %>
                  <%= f.label :male_true, 'Männlich', class: 'form-check-label small' %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="form-row">
            <%= f.form_group :birthplace, 'Geburtsort' do %>
              <%= f.text_field :birthplace %>
            <% end %>
            <%= f.form_group :birthdate, 'Geburtstag' do %>
              <%= f.date_field :birthdate %>
            <% end %>
            <%= f.form_group :email, 'E-Mail Adresse' do %>
              <%= f.text_field :email %>
            <% end %>
          </div>
          <div class="form-row">
            <%= f.form_group :nationality, 'Nationalität' do %>
              <%= f.select :nationality, I18n.t('nationality').map { |k, n| [n, k] }, include_blank: true %>
            <% end %>
            <%= f.form_group :county_id, 'Bundesland' do %>
              <%= f.select :county_id, @counties.map { |county| [county.name, county.id] } %>
            <% end %>
          </div>
          <fieldset class="form-group">
            <legend>Adresse</legend>
            <%= f.fields_for :address, @pupil.address || @pupil.build_address do |f| %>
              <%= render partial: "partials/address_form", locals: { f: f } %>
            <% end %>
          </fieldset>

          <fieldset>
            <legend>Gesetzliche Vertreter</legend>
            <div class="parent-list form-group" data-controller="parent-list">
              <%= f.fields_for :parents do |parent_f| %>
                <%= render partial: "parent", locals: { parent_f: parent_f, deletable: !@pupil.minor? } %>
              <% end %>
              <%= f.fields_for 'new_parent', PupilParent.new, {} do |parent_f| %>
                <%= render partial: "parent", locals: { parent_f: parent_f, deletable: true, is_new: true } %>
              <% end %>
              <a href="javascript: void 0;" data-action="parent-list#addParent">
                <%= fa_icon('plus') %>
                Vertreter hinzufügen
              </a>
            </div>
            <div class="form-row">
              <%= f.form_group :splitted_custody, 'Sorgerecht', col: 6 do %>
                <div class="form-check">
                  <%= f.radio_button :splitted_custody, '0', class: 'form-check-input' %>
                  <%= f.label :splitted_custody_0, 'Gemeinsames Sorgerecht bei zusammenlebenden Sorgeberechtigten', class: 'form-check-label' %>
                </div>
                <div class="form-check">
                  <%= f.radio_button :splitted_custody, '1', class: 'form-check-input' %>
                  <%= f.label :splitted_custody_1, 'Gemeinsames Sorgerecht bei getrenntlebenden Sorgeberechtigten', class: 'form-check-label' %>
                </div>
                <div class="form-check">
                  <%= f.radio_button :splitted_custody, '2', class: 'form-check-input' %>
                  <%= f.label :splitted_custody_2, 'Alleiniges Sorgerecht des angegebenen Sorgeberechtigten', class: 'form-check-label' %>
                </div>
              <% end %>
            </div>
          </fieldset>

          <div>

          </div>
        </div>
        <div class="tab-pane fade" id="dorm-pane" role="tabpanel" aria-labelledby="dorm-tab">
          <div class="form-row">
            <%= f.form_group :min_to_arrive, 'Anreise in min.', col: 2 do %>
              <%= f.text_field :min_to_arrive, type: 'number' %>
            <% end %>
            <%= f.form_group :min_to_depart, 'Abreise in min.', col: 2 do %>
              <%= f.text_field :min_to_depart, type: 'number' %>
            <% end %>
            <%= f.form_group :arrival_day, 'Tag der Anreise', col: 2 do %>
              <%= f.date_field :arrival_day %>
            <% end %>
          </div>
          <div class="form-row">

            <%= f.form_group :room, 'Zimmer', col: 2 do %>
              <%= f.text_field :room %>
            <% end %>
            <%= f.form_group :permanent, 'Belegungstyp', col: 2 do %>
              <div class="form-check">
                <%= f.check_box :permanent, class: 'form-check-input' %>
                <%= f.label :permanent, 'Dauerbeleger', class: 'form-check-label' %>
              </div>
            <% end %>
            <%= f.form_group :checked_out, 'Abgemeldet am', col: 2 do %>
              <%= f.date_field :checked_out %>
            <% end %>
            <%= f.form_group :banned, 'Grund', col: 4 do %>
              <div class="form-check">
                <%= f.check_box :banished, class: 'form-check-input' %>
                <%= f.label :banished, 'Ausgewiesen', class: 'form-check-label' %>
              </div>
            <% end %>
          </div>
          <fieldset>
            <legend>Rechnung</legend>
            <div class="form-row mb-3">
              <%= f.form_group :rent_on_account, 'Miete auf Rechnung' do %>
                <div class="form-check">
                  <%= f.check_box :rent_on_account, class: 'form-check-input' %>
                  <%= f.label :rent_on_account, 'Miete auf Rechnung', class: 'form-check-label' %>
                </div>
              <% end %>
              <%= f.form_group :food_on_account, 'Essen auf Rechnung' do %>
                <%= f.select :food_on_account, [["Keine", 0], ["Halbpension", 1], ["Vollpension", 2]] %>
              <% end %>
            </div>
          </fieldset>
          <fieldset>
            <legend>Kaution</legend>
            <%= f.fields_for :deposit, @pupil.deposit || Deposit.new do |deposit_f| %>
              <%= deposit_f.hidden_field :id %>
              <div class="form-row">
                <%= deposit_f.form_group :block, 'Block', col: 2 do %>
                  <%= deposit_f.text_field :block %>
                <% end %>
                <%= deposit_f.form_group :nr, 'Nummer', col: 2 do %>
                  <%= deposit_f.text_field :nr %>
                <% end %>
                <%= deposit_f.form_group :value, 'Betrag', col: 2 do %>
                  <%= deposit_f.text_field :value %>
                <% end %>
              </div>
              <div class="form-row">
                <%= deposit_f.form_group :paid_in, 'Eingezahlt am', col: 2 do %>
                  <%= deposit_f.date_field :paid_in %>
                <% end %>
                <%= deposit_f.form_group :paid_out, 'Ausgezahlt am', col: 2 do %>
                  <%= deposit_f.date_field :paid_out %>
                <% end %>
              </div>
            <% end %>
          </fieldset>
          <div class="row">
            <div class="col-12 col-md-6">
              <fieldset>
                <legend>Auto</legend>
                <%= f.fields_for :car, @pupil.car || PupilCar.new do |car_f| %>
                  <div class="form-row">
                    <%= car_f.form_group :name, 'Typ', col: 3 do %>
                      <%= car_f.text_field :name %>
                    <% end %>
                    <%= car_f.form_group :color, 'Farbe', col: 3 do %>
                      <%= car_f.text_field :color %>
                    <% end %>
                    <%= car_f.form_group :sign, 'Kennzeichen', col: 3 do %>
                      <%= car_f.text_field :sign %>
                    <% end %>
                    <%= car_f.form_group :key, 'Transponder', col: 3 do %>
                      <%= car_f.text_field :key %>
                    <% end %>
                  </div>
                <% end %>
              </fieldset>
            </div>
            <div class="col-12 col-md-6">
              <fieldset>
                <legend>W-Lan Schlüssel</legend>
                <div>
                  <%= f.fields_for :wifi, @pupil.wifi || PupilWifi.new do |wifi_f| %>
                    <%= wifi_f.hidden_field :_destroy, value: 0 %>
                    <div class="form-row">
                      <%= wifi_f.form_group :token1, 'Schlüssel 1', col: 6 do %>
                        <%= wifi_f.text_field :token1 %>
                      <% end %>
                      <%= wifi_f.form_group :token2, 'Schlüssel 2', col: 6 do %>
                        <%= wifi_f.text_field :token2 %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="vaccination-pane" role="tabpanel" aria-labelledby="vaccination-pane">
          <div>
            <fieldset>
              <legend>Angaben zum Masernschutzgesetz</legend>
              <div class="form-check">
                <%= f.radio_button :measles_vaccination, 'vaccinated', class: 'form-check-input' %>
                <%= f.label :measles_vaccination_vaccinated, class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= f.radio_button :measles_vaccination, 'certificated', class: 'form-check-input' %>
                <%= f.label :measles_vaccination_certificated, class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= f.radio_button :measles_vaccination, 'not_possible', class: 'form-check-input' %>
                <%= f.label :measles_vaccination_not_possible, class: 'form-check-label' %>
              </div>
              <div class="form-check">
                <%= f.radio_button :measles_vaccination, :none, class: 'form-check-input' %>
                <%= f.label :measles_vaccination_none, class: 'form-check-label' %>
              </div>
            </fieldset>
          </div>
          <div>
            <fieldset data-controller="covid-form">
              <legend>Angaben zu COVID-19</legend>
              <%= f.fields_for(:covid_info, f.object.covid_info || CovidInfo.new) do |covid_f| %>
                <div class="form-row">
                  <%= covid_f.form_group :status, nil, col: 6 do %>
                    <%= covid_f.select :status, CovidInfo.status.values.map { |v| [v.text, v] }, {}, data: {"target": "covid-form.status"} %>
                  <% end %>
                </div>
                <div class="form-row" data-target="covid-form.positive">
                  <%= covid_f.form_group :tested_on, nil, col: 4, data: { target: "covid-form.tested" } do %>
                    <%= covid_f.date_field :tested_on %>
                  <% end %>
                  <%= covid_f.form_group :first_vaccination_on, nil, col: 4 do %>
                    <%= covid_f.date_field :first_vaccination_on %>
                  <% end %>
                  <%= covid_f.form_group :second_vaccination_on, nil, col: 4, data: { target: "covid-form.secondVaccination" } do %>
                    <%= covid_f.date_field :second_vaccination_on %>
                  <% end %>
                  <%= covid_f.form_group :last_vaccination_on, nil, col: 4 do %>
                    <%= covid_f.date_field :last_vaccination_on %>
                  <% end %>
                </div>
              <% end %>
            </fieldset>
          </div>
        </div>
        <div class="tab-pane fade" id="company-pane" role="tabpanel" aria-labelledby="company-tab">
          <fieldset>
            <!--<legend>Ausbildungsklasse</legend>-->
            <div class="form-row" data-controller="school-class">
              <%= f.form_group :school_class_type_id, 'Ausbilungsrichtung', col: 5 do %>
                <%= f.select :school_class_type_id, [['Auswählen', '']].concat(@school_class_types.map { |sc| ["#{sc.abbreviation} - #{sc.name}", sc.id] }), {}, { data: { target: 'school-class.type', action: 'school-class#loadClass' } } %>
              <% end %>
              <%= f.form_group :school_class_id, 'Ausbilungsklasse', col: 2 do %>
                <%= f.select :school_class_id, [['Auswählen', '']].concat(@school_classes.map { |sc| [sc.option_name, sc.id] }), {}, { data: { target: 'school-class.select' } } %>
              <% end %>
              <%= f.form_group :subclass, 'Unterklasse', col: 2 do %>
                <%= f.text_field :subclass %>
              <% end %>
            </div>
          </fieldset>
          <div class="row">
            <div class="col-md-9">
              <%= render partial: 'partials/organisation_form', locals: { f: f, name: 'Firma', type: 'company', organisations: @companies } %>
              <%= render partial: 'partials/organisation_form', locals: { f: f, name: 'Schule', type: 'school', organisations: @schools } %>
            </div>
          </div>

        </div>
        <% if @pupil.persisted? %>
          <div class="tab-pane fade" id="comments-pane" role="tabpanel" aria-labelledby="comments-tab" style="margin-left: -15px; margin-right: -15px;">
            <iframe src="<%= admin_pupil_comments_path(@pupil.id) %>" frameborder="0" width="100%" height="600px"></iframe>
          </div>
        <% end %>
        <div class="tab-pane fade" id="billing-pane" role="tabpanel" aria-labelledby="billing-tab">
          <%= render partial: 'billing' %>
        </div>
      </div>
      <div class="form-footer">
        <%= link_to "Abbrechen", @back_link, { class: 'btn btn-outline-info' } %>
        <% if @pupil.persisted? %>
          <%= link_to admin_pupil_path + ".pdf", { class: 'btn btn-info', target: "_print_#{@pupil.id}" } do %>
            <%= fa_icon :print %>
            Ausdrucken
          <% end %>
        <% end %>
        <button type="submit" class="btn btn-success">
          <%= fa_icon :save %>
          Speichern
        </button>
      </div>

    <% end %>
  </div>
  <% if @pupil.persisted? %>
    <div class="col-12 col-md-3">
      <%= form_for [:admin, @pupil], method: :patch do |f| %>
        <div class="card mb-4">
          <div class="card-header">
            Passbild
          </div>
          <% if @pupil.photo.exists? %>
            <%= image_tag @pupil.photo.url(:medium), class: 'card-img-top' %>
            <div class="card-body">
              <div class="form-row">
                <div class="col-12 col-md-10">
                  <label class="btn btn-outline-primary btn-file btn-block">
                    Foto
                    ändern <%= f.file_field :photo, style: 'display: none;', onchange: "form.submit()" %>
                  </label>
                </div>
                <div class="col-12 col-md-2">
                  <%= link_to admin_pupil_delete_photo_path(@pupil.id), class: 'btn btn-outline-danger btn-block', data: { toggle: 'tooltip' }, title: 'Bild entfernen' do %>
                    <%= fa_icon :trash %>
                  <% end %>
                </div>
              </div>
            </div>
          <% else %>
            <div class="card-body">
              <label class="btn btn-outline-primary btn-file btn-block">
                Foto
                hochladen <%= f.file_field :photo, style: 'display: none;', onchange: "form.submit()" %>
              </label>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="card">
        <div class="card-header">
          Mehr
        </div>
        <div class="card-body">
          <a href="ftp://10.121.121.250/IVO/<%= @pupil.school_semester&.short %>-<%= @pupil.lastname %>-<%= @pupil.firstname %>" target="documents_<%= @pupil.id %>">Dokumente
            anzeigen</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
