<div class="">
  <div class="row">
    <div class="col-12">
      <h2>
        <%= @user.persisted? ? @user.username : 'Neuer Nutzer' %>
      </h2>
    </div>
  </div>
  <div class="mt-2">
    <%= form_for [:admin, @user], html: {class: "nifty_form"}, builder: BootstrapFormBuilder do |f| %>
        <div class="form-content">
          <% unless @user.persisted? %>
          <div class="form-row">
            <%= f.form_group :username, 'Nutzername' do %>
                <%= f.text_field :username %>
            <% end %>
          </div>
          <% end %>
          <fieldset>
            <% if @user.persisted? %> <legend>Passwort ändern</legend> <% end %>
            <div class="form-row">
              <%= f.form_group :password, 'Passwort' do %>
                  <%= f.password_field :password %>
              <% end %>
            </div>
            <div class="form-row">
              <%= f.form_group :password_confirmation, 'Passwort bestätigen' do %>
                  <%= f.password_field :password_confirmation %>
              <% end %>
            </div>
          </fieldset>
          <fieldset>
            <legend>Berechtigungen</legend>
            <div class="form-row">
              <%= f.form_group :can_export, 'Rechte' do %>
                <div>
                  <%= f.check_box :can_export %>
                  <%= f.label :can_export, "Kann Schüler exportieren" %>
                </div>
            <% end %>
            </div>
            <div class="form-row">
              <%= f.form_group :group_id, 'Gruppe' do %>
                  <%= f.select :group_id, @groups.map {|group| [group.name, group.id]} %>
              <% end %>
            </div>
          </fieldset>
        </div>
        <div class="form-footer">
          <%= link_to "Abbrechen", @back_link, {class: 'btn btn-outline-info'} %>
          <%= f.submit "Speichern", {class: 'btn btn-success'} %>
        </div>
    <% end %>
  </div>
</div>
