<fieldset>
  <legend>Kontaktdaten der Sorgeberechtigen <br/> bzw. Kontakpersonen bei volljährigen Azubis</legend>
  <div class="parent-list form-group" data-controller="parent-list">
    <%= f.fields_for :parents, @pupil.parents.any? ? @pupil.parents : @pupil.parents.build do |parent_f| %>
        <%= render partial: "admin/pupils/parent", locals: {parent_f: parent_f, deletable: parent_f.index > 0} %>
    <% end %>
    <%= f.fields_for 'new_parent', PupilParent.new, {} do |parent_f| %>
        <%= render partial: "admin/pupils/parent", locals: {parent_f: parent_f, deletable: true, is_new: true} %>
    <% end %>
    <a href="javascript: void 0;" data-action="parent-list#addParent">
      <%= fa_icon('plus') %>
      Weiteren Vertreter hinzufügen
    </a>
  </div>
  <div class="form-row">
    <%= f.form_group :splitted_custody, 'Sorgerecht', col: 12 do %>
        <div class="form-check">
          <%= f.radio_button :splitted_custody, '0', class: 'form-check-input' %>
          <%= f.label :splitted_custody_0, 'Gemeinsames Sorgerecht bei zusammenlebenden Sorgeberechtigten', class: 'form-check-label' %>
        </div>
        <div class="form-check">
          <%= f.radio_button :splitted_custody, '1', class: 'form-check-input' %>
          <%= f.label :splitted_custody_1, 'Gemeinsames Sorgerecht bei getrenntlebenden Sorgeberechtigten', class: 'form-check-label' %>
        </div>
        <div class="form-check">
          <%= f.radio_button :splitted_custody, '2', class: 'form-check-input' %>
          <%= f.label :splitted_custody_2, 'Alleiniges Sorgerecht des angegebenen Sorgeberechtigten', class: 'form-check-label' %>
        </div>
    <% end %>
  </div>
</fieldset>
