<fieldset>
  <legend>An- und Abreise</legend>
  <div class="form-row">
    <%= f.form_group :arrival_day, 'Tag der Anreise', col: 4 do %>
        <%= f.date_field :arrival_day %>
    <% end %>
    <%= f.form_group :permanent, '', col: 6 do %>
        <div class="form-check">
          <%= f.check_box :permanent, class: 'form-check-input' %>
          <%= f.label :permanent, 'Dauerbeleger (jede Woche anwesend)', class: 'form-check-label small' %>
        </div>
    <% end %>
  </div>
  <p class="font-italic small">
    Bitte gib an, wie lange die <strong>Hin- und Rückfahrt</strong> mit öffentlichen Verkehrsmitteln dauern würde.
  </p>
  <div class="form-row">
    <%= f.form_group :min_to_arrive, 'Anreise in min.', col: 4 do %>
        <%= f.text_field :min_to_arrive, type: 'number' %>
    <% end %>
    <%= f.form_group :min_to_depart, 'Abreise in min.', col: 4 do %>
        <%= f.text_field :min_to_depart, type: 'number' %>
    <% end %>
  </div>
</fieldset>
<fieldset>
  <legend>Weitere wichtige Informationen</legend>
  <div class="form-row">
    <%= f.form_group :measles_vaccination, 'Angaben zum Masernschutzgesetz bitte auswählen:', col: 12 do %>
      <div class="form-check">
        <%= f.radio_button :measles_vaccination, :vaccinated, class: 'form-check-input' %>
        <%= f.label :measles_vaccination_vaccinated, class: 'form-check-label' %>
      </div>
      <div class="form-check">
        <%= f.radio_button :measles_vaccination, :certificated, class: 'form-check-input' %>
        <%= f.label :measles_vaccination_certificated, class: 'form-check-label' %>
      </div>
      <div class="form-check">
        <%= f.radio_button :measles_vaccination, :not_possible, class: 'form-check-input' %>
        <%= f.label :measles_vaccination_not_possible, class: 'form-check-label' %>
      </div>
      <div class="form-check">
        <%= f.radio_button :measles_vaccination, :none, class: 'form-check-input' %>
        <%= f.label :measles_vaccination_none, class: 'form-check-label' %>
      </div>
    <% end %>
  </div>
  <div class="form-row" data-controller="covid-form">
    <%= f.form_group :covid_info, 'Angaben zu COVID-19 bitte auswählen:', col: 12 do %>
      <%= f.fields_for(:covid_info, f.object.covid_info || CovidInfo.new) do |covid_f| %>
        <div class="form-row form-group">
          <div class="col-6">
            <%= covid_f.select :status, CovidInfo.status.values.map { |v| [v.text, v] }, {}, data: { "target": "covid-form.status" } %>
          </div>
        </div>
        <div class="form-row" data-target="covid-form.positive">
          <%= covid_f.form_group :tested_on, nil, col: 4, data: { target: "covid-form.tested" } do %>
            <%= covid_f.date_field :tested_on %>
          <% end %>
          <%= covid_f.form_group :first_vaccination_on, nil, col: 4 do %>
            <%= covid_f.date_field :first_vaccination_on %>
          <% end %>
          <%= covid_f.form_group :second_vaccination_on, nil, col: 4, data: { target: "covid-form.secondVaccination" } do %>
            <%= covid_f.date_field :second_vaccination_on %>
          <% end %>
          <%= covid_f.form_group :last_vaccination_on, nil, col: 4 do %>
            <%= covid_f.date_field :last_vaccination_on %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-row">
    <%= f.form_group :information, 'Krankheiten, Medikamente oder andere für die Betreuung wichtige Informationen', col: 12 do %>
        <%= f.text_area :information, class: 'form-control', rows: 6 %>
    <% end %>
  </div>
</fieldset>
