<fieldset>
  <legend>Angaben zur Person</legend>
  <div class="form-row">
    <%= f.form_group :firstname, 'Vorname', col: 4 do %>
        <div class="input"><%= @pupil.firstname %></div>
    <% end %>
    <%= f.form_group :lastname, 'Nachname', col: 4 do %>
        <div class="input"><%= @pupil.lastname %></div>
    <% end %>
    <%= f.form_group :male, 'Geschlecht', col: 4 do %>
        <div class="input"><%= @pupil.male ? 'männlich' : 'weiblich' %></div>
    <% end %>
  </div>
  <div class="form-row">
    <%= f.form_group :birthdate, 'Geburtstag', col: 4 do %>
        <div class="input"><%= I18n.localize(@pupil.birthdate) %></div>
    <% end %>
    <%= f.form_group :birthplace, 'Geburtsort', col: 4 do %>
        <div class="input"><%= @pupil.birthplace %></div>
    <% end %>
  </div>
  <div class="form-row">
    <%= f.form_group :nationality, 'Nationalität', col: 4 do %>
        <div class="input"><%= I18n.t("nationality.#{@pupil.nationality}") %></div>
    <% end %>
    <%= f.form_group :county, 'Landkreis', col: 4 do %>
        <div class="input">
          <%= @pupil.county.name %> (<%= @pupil.county.state.name %>)
        </div>
    <% end %>
  </div>
</fieldset>
<fieldset>
  <legend>Adresse</legend>
  <%= f.fields_for :address do |address_f| %>
      <%= render partial: "partials/address_form", locals: {f: address_f, read_only: true} %>
  <% end %>
</fieldset>
<%= f.fields_for :parents do |parent_f| %>
    <fieldset>
      <legend>Gesetzlicher Vertreter</legend>
      <%= render partial: "admin/pupils/parent", locals: {parent_f: parent_f, read_only: true} %>
    </fieldset>
<% end %>
<fieldset>
  <legend>Internatsnutzung</legend>
  <div class="form-row">
    <%= f.form_group :school_class_type, 'Ausbildungsrichtung', col: 4 do %>
      <div class="input"><%= @pupil.school_class_type ? @pupil.school_class_type&.name : 'Keine' %></div>
    <% end %>
    <%= f.form_group :school_class_type, 'Ausbildungsbeginn', col: 4 do %>
      <div class="input"><%= @pupil.school_semester ? I18n.l(@pupil.school_semester&.start_date, :format => '%B %Y') : '-' %></div>
    <% end %>
    <%= f.form_group :school_class_type, 'Unterklasse', col: 3 do %>
      <div class="input"><%= @pupil.subclass || '-' %></div>
    <% end %>
  </div>
  <div class="form-row">
    <%= f.form_group :arrival_day, 'Tag der Anreise', col: 3 do %>
        <div class="input"><%= I18n.localize(@pupil.arrival_day) %></div>
    <% end %>
    <%= f.form_group :permanent, 'Dauerbeleger', col: 2 do %>
        <div class="input"><%= @pupil.permanent ? 'JA' : 'NEIN' %></div>
    <% end %>
    <%= f.form_group :min_to_arrive, 'Dauer der Anreise', col: 3 do %>
        <div class="input"><%= @pupil.min_to_arrive %> Minuten</div>
    <% end %>
    <%= f.form_group :min_to_depart, 'Dauer der Abreise', col: 3 do %>
        <div class="input"><%= @pupil.min_to_depart %> Minuten</div>
    <% end %>
  </div>
  <div class="form-row">
    <%= f.form_group :measles_vaccination, 'Angaben zum Masernschutzgesetz:', col: 12 do %>
      <div class="input"><%= I18n.t("activerecord.attributes.pupil.measles_vaccination_#{@pupil.measles_vaccination}") %></div>
    <% end %>
  </div>
  <div class="form-row">
    <%= f.form_group :covid_info, 'Angaben zu COVID-19:', col: 12 do %>
      <div class="row">
        <div class="col-md-4">
          <div class="input"><%= @pupil.covid_info.status.text %></div>
        </div>
        <div class="col-md-8">
          <% if @pupil.covid_info.status.vaccinated? %>
            Erstimpfung: <%= l(@pupil.covid_info.first_vaccination_on) %><br>
            Zweitimpfung: <%= @pupil.covid_info.second_vaccination_on && l(@pupil.covid_info.second_vaccination_on) %><br>
            Letzte Folgeimpfung: <%= @pupil.covid_info.last_vaccination_on && l(@pupil.covid_info.last_vaccination_on) %>
          <% elsif @pupil.covid_info.status.recovered? %>
            Testdatum: <%= l(@pupil.covid_info.tested_on) %><br>
            Erstimpfung: <%= @pupil.covid_info.first_vaccination_on && l(@pupil.covid_info.first_vaccination_on) %><br>
            Letzte Folgeimpfung: <%= @pupil.covid_info.last_vaccination_on && l(@pupil.covid_info.last_vaccination_on) %>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>

</fieldset>
