<fieldset>
  <legend>Persönliche Daten</legend>
  <div class="form-row">
    <%= f.form_group :firstname, 'Vorname', col: 3 do %>
        <%= f.text_field :firstname %>
    <% end %>
    <%= f.form_group :lastname, 'Nachname', col: 5 do %>
        <%= f.text_field :lastname %>
    <% end %>
    <%= f.form_group :male, 'Geschlecht', col: 4 do %>
        <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
          <label class="btn btn-sm btn-secondary">
            <%= f.radio_button "male", false, class: 'form-check-input' %>
            Weiblich
          </label>
          <label class="btn btn-sm btn-secondary">
            <%= f.radio_button "male", true, class: 'form-check-input' %>
            Männlich
          </label>
        </div>
    <% end %>
  </div>
  <div class="form-row">
    <%= f.form_group :birthplace, 'Geburtsort', col: 8 do %>
        <%= f.text_field :birthplace %>
    <% end %>
    <%= f.form_group :birthdate, 'Geburtstag', col: 4 do %>
        <%= f.date_field :birthdate, {start_date: 16.years.ago} %>
    <% end %>
  </div>
  <div class="form-row">
    <%= f.form_group :nationality, 'Nationalität', col: 6 do %>
        <%= f.select :nationality, I18n.t('nationality').map {|k, n| [n, k]} %>
    <% end %>
  </div>
</fieldset>
<fieldset>
  <legend>Kontaktdetails des Auszubildenden (Wohnort und Telefon-Nr.)</legend>
  <div class="form-group">
    <%= f.fields_for :address, @pupil.address || @pupil.build_address do |f| %>
        <%= render partial: "partials/address_form", locals: {f: f} %>
    <% end %>
  </div>
  <div class="row">
    <%= f.form_group :county_id, 'Landkreis', col: 6 do %>
      <%= f.select :county_id, @counties.map {|county| [county.name, county.id]} %>
    <% end %>
  </div>
</fieldset>