<fieldset>
  <legend>Ausbildungsklasse</legend>
  <div class="form-row">
    <%= f.form_group :school_class_type_id, 'Ausbilungsrichtung', col: 6 do %>
        <%= f.select :school_class_type_id, [['Auswählen', nil]].concat(@school_class_types.map {|sc| ["#{sc.abbreviation} - #{sc.name}", sc.id]}), {} %>
    <% end %>
    <%= f.form_group :school_semester_id, 'Ausbildungsbeginn', col: 3 do %>
        <%= f.select :school_semester_id, [['Auswählen', nil]].concat(@school_semesters.map {|se| [I18n.l(se.start_date, :format => '%B %Y'), se.id]}) %>
    <% end %>
    <%= f.form_group :subclass, 'Unterklasse', col: 3 do %>
        <%= f.text_field :subclass %>
    <% end %>
  </div>
</fieldset>
<%= render partial: 'partials/organisation_form', locals: {f: f, name: 'Firma', type: 'company', organisations: @companies} %>
<%= render partial: 'partials/organisation_form', locals: {f: f, name: 'Schule', type: 'school', organisations: @schools} %>
