<div class="bs-wizard mb-3 d-none d-md-flex" style="border-bottom:0;">
  <% ['Persönliche Daten', 'Gesetzliche Vertreter', 'Ausbildung', 'Internatsnutzung', 'Abschließen'].each_with_index do |name, index| %>
      <div class="bs-wizard-step <%= class_name({complete: (index < session[:completed_step] && (index + 1 < @step)), active: ((index + 1) == @step), disabled: (index >= @step)}) %>">
        <div class="text-center bs-wizard-stepnum"><%= name %></div>
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <%= link_to('', register_step_path((index + 1).to_s), class: 'bs-wizard-dot')%>
      </div>
  <% end %>
</div>

<%= form_for @pupil, url: register_step_path(@step), builder: BootstrapFormBuilder do |f| %>
    <div class="form-header">

    </div>
    <div class="form-body">
      <%= render partial: "step#{@step}", locals: {f: f} %>
    </div>
    <div class="form-footer">
      <div>
        <%= link_to('Zurück', register_step_path(@step - 1), class: 'btn btn-secondary') if @step > 1 %>
        <input type="submit" value="<%= @step < 5 ? 'Weiter': 'Anmelden' %>" class="btn btn-primary"/>
      </div>
    </div>
<% end %>