<div class="">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="mb-4 mt-4 text-center">
        <div class="text-success mb-3">
          <span class="rounded-circle success-circle">
            <%= fa_icon('check 3x') %>
          </span>
        </div>
        <h3>Du hast dich erfolgreich angemeldet!</h3>
      </div>
      <div class="form-body text-center">
        <p class="large mb-4">
          Bitte drucke deinen Anmeldebogen aus und gebe diesen <br/> mit <b>zwei</b> Passbildern versehen
          beim Internat ab.
        </p>
        <div class="text-center">
          <%= link_to(registration_path(@pupil.public_id, 'pdf'), class: 'btn btn-success mb-5') do %>
              <%= fa_icon(:download) %> Anmeldebogen herunterladen
          <% end %>
        </div>
        <p>
          Wenn du ihn später ausdrucken willst, notiere dir bitte folgenden Code: <b><?= $pw ?></b>
        </p>
        <div class="p-3 mb-3" style="background: white;">
          <h5 class="mb-0 text-center"><%= @pupil.passwd %></h5>
        </div>
        <p class="small">
          <b>Hinweis:</b> Wenn eine Unterbringung <b>nicht</b> möglich ist, informieren wir dich.
        </p>
      </div>
    </div>
  </div>

</div>