<!DOCTYPE html>
<html lang="de">
<head>

  <!--<%= "Version: #{IvoRails::Application.config.version['name']}" %>-->
  <!--<%= "Build: #{IvoRails::Application.config.version['build']}" %>-->

  <title>Internatsverwaltung Online</title>
  <link rel="icon" href="/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>

  <%= stylesheet_pack_tag 'application' %>
</head>

<body>
<div id="navSpacer" style="height:3.5rem;"></div>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-ivo">
  <a class="navbar-brand" href="#">IVO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if @current_user %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'Übersicht', admin_dashboard_path, class: "nav-link #{'active' if controller_name == 'dashboard'}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Schüler', admin_pupils_path({semester: 'current', status: 'checked_in', cw: current_cw}), class: "nav-link #{'active' if controller_name == 'pupils'}" %>
          </li>
          <li class="nav-item">
            <%= link_to('Firmen', admin_companies_path, class: "nav-link #{'active' if controller_name == 'companies'}") %>
          </li>
          <li class="nav-item">
            <%= link_to('Schulen', admin_schools_path, class: "nav-link #{'active' if controller_name == 'schools'}") %>
          </li>
          <li class="nav-item">
            <%= link_to('Semester', admin_school_semesters_path, class: "nav-link #{'active' if controller_name == 'school_semesters'}") %>
          </li>
          <li class="nav-item">
            <%= link_to('Ausbildungsrichtungen', admin_school_class_types_path, class: "nav-link #{'active' if request.path =~ /school_class_types/}") %>
          </li>
          <% if @current_user.is_admin? %>
          <li class="nav-item">
            <%= link_to('Nutzer', admin_users_path, class: "nav-link #{'active' if controller_name == 'users'}") %>
          </li>
          <% end %>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
          <li class="nav-item">
        <span class="nav-link">
          <%= @current_user.username %>
        </span>
          </li>
          <li class="nav-item">
            <%= link_to(admin_logout_path, class: 'nav-link', title: @current_user.username) do %>
                <%= fa_icon('sign-out-alt') %>
                Abmelden
            <% end %>
          </li>
        </ul>
    <% end %>
  </div>
</nav>
<main>
  <div class="container-fluid">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> alert-dismissible fade show mt-3 mb-3" role="alert">
            <span>
              <%= value.html_safe %>
            </span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    <% end %>
  </div>
  <div class="container-fluid">
    <!-- Content here -->
    <%= yield %>
  </div>
</main>
<!-- Modal -->
<div class="modal fade" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'application' %>
</body>
</html>
