<!DOCTYPE html>
<html lang="de">
<head>

  <!--<%= "Version: #{IvoRails::Application.config.version['name']}" %>-->
  <!--<%= "Build: #{IvoRails::Application.config.version['build']}" %>-->

  <title>Internatsverwaltung Online</title>
  <link rel="icon" href="/favicon.png">

  <%= javascript_pack_tag 'chart' %>
  <style>
    body {
      padding: 0;
      margin: 0;
    }
  </style>
  <%= csrf_meta_tags %>
</head>

<body>
<%= yield %>
</body>
</html>
