<!DOCTYPE html>
<html>
<head>
  <!--<%= "Version: #{IvoRails::Application.config.version['name']}" %>-->
  <!--<%= "Build: #{IvoRails::Application.config.version['build']}" %>-->

  <title>Anmeldung für das Internat der Meininger Berfusschulen</title>
  <link rel="icon" href="/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>

</head>

<body class="registration">
<div class="container-fluid">
  <h1 class="register-heading">Anmeldung für das Internat der Meininger Berufsschulen</h1>
</div>
<div class="container">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> alert-dismissible fade show mt-3 mb-3" role="alert">
            <span>
              <%= value.html_safe %>
            </span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  <% end %>
  <div class="row justify-content-center">
    <div class="col-12 col-md-12 col-lg-9">
        <!-- Content here -->
        <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
